@mixin button-reset {
  appearance: none;
  outline: none;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  cursor: pointer;
}

@mixin tablet {
  @media (min-width: 650px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 700px) {
    @content;
  }
}
